<a id="link" href="#myModal" class="btn btn-large btn-primary" data-toggle="modal">Get started now</a>

<div class="modal hide fade" id="myModal" aria-hidden="true">
	<div class="well">
		<input type="text" data-behaviour='datepicker' >
	</div>
</div>
