@import "bootstrap";

/* mixins, variables, etc. */

$black: #231f20;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  height: 100%;
}

body {
  height: 100%;
  color: $black;
  background-image: url('conch.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style-type: circle;
  li {
    padding: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Georgia;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: DimGray;
}


/* header */

.black_bar {
  background: $black;
  display: block;
  height: 24px;
  width: 100%;
  z-index: 1;
}

.bottom_bar {
  bottom: 0;
  position: absolute;
  color: #CFD0D2;
}

/* content */

#container {

}

#content {

}

#box {
  position: absolute;
  top: 160px;
  right: 50px;
  width: 600px;
}

#sign_up_link {
  position: absolute;
  top: 500px;
  right: 280px;
}

/* modal */

#form {
  margin: 0 20px;
  width: 500px;
  padding: 5px 10px;
  p {
    font-size: 0.7em;
    margin: 0 0 10 10px;
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    li {
      padding: 2px;
    }
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* footer */

/* miscellaneous */

.debug_dump {
  position: absolute;
  bottom: 50px;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
